<a href="https://colab.research.google.com/github/Huni6102/Huni6102/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4%EA%B0%9C%EB%A1%A0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 숫자 타입과 산술 연산

In [4]:
type(3)

int

In [5]:
type(3.1)

float

In [6]:
type(3.0)

float

In [7]:
3 ** 2
#**: 거듭제곱

9

In [8]:
5 / 2
#/: 실수형 나눗셈

2.5

In [9]:
5 // 2
#//: 정수형 나눗셈, 나눗셈의 몫을 계산함

2

In [11]:
5 % 2
#%: 나눗셈의 나머지를 계산함

1

# 복합 대입 연산자

In [12]:
num = 10

In [20]:
num += 1
#num = num + 1을 줄인 표현
#num = num - 1 vs. num -= 1 은 동일한 표현
#num = num * 3 vs. num*= 3 은 동일한 표현
#=이 뒤에 온다.

# 문자열 string

In [35]:
A = '문자열을 만들어 봐요!'
B = "문자열은 이렇게 만들 수도 있어요~"
print(A, B)
#파이썬은 유연한 문자열 처리가 강점
#작은따옴표, 큰따옴표 모두 사용 가능

문자열을 만들어 봐요! 문자열은 이렇게 만들 수도 있어요~

# 불리언(boolean)

In [26]:
case1 = (5 < 10)
case1
type(case1)
#True 또는 False를 나타냄
#비교나 조건 연산자를 통해 True나 False가 반환되며 and와 or로 조합 가능.

bool

In [27]:
print(True, False)

True False

In [29]:
True
#True는 그 단어의 의미처럼 '참'을 뜻한다.

True

In [30]:
False
#False는 그 단어의 의미처럼 '거짓'을 뜻한다.

False

In [31]:
3 > 10
#3이 10보다 큰가?

False

In [32]:
3 < 10
#3이 10보다 작은가?

True

# 타입 변환

In [33]:
float(10)
#float(): 실수로 변환시키는 함수.

10.0

In [37]:
s = '5.6328'
type(s)
#작은 따옴표 사용했으므로 문자열이다.

str

In [38]:
f_value = float(s)
type(f_value)

float

In [42]:
int(f_value)
#int(): 정수로 변환시키는 함수. 반올림(X), 버림(O), 항상 버리는 것이다.

5

# 정해진 횟수만큼 반복해서 실행시키기

In [45]:
for i in [0, 1, 2]:
      print(i)
      print("hi~")
#for문: 반복작업 시 사용.
#i: index, 변수 선언, 보통 i로 자주 쓴다.
#[0, 1, 2]: 반복 범위, 여기서는 리스트를 사용했다.

0
hi~
1
hi~
2
hi~

In [49]:
sum = 0
#합한 값을 넣어놓을 공간 먼저 설정함.

In [52]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
      sum = sum + i
#값을 계산하는 과정.

In [53]:
print(sum)

55

In [54]:
sum = 0

In [55]:
for i in range(1, 11):
      sum = sum + i
#1부터 10까지, 11포함 안 함.

In [56]:
print(sum)

55

# in과 range의 조합

In [91]:
for i in range(0, 3):
      print("Happy")
#range(0, 3): 0, 1, 2
#3회 반복이 목적

Happy
Happy
Happy

In [62]:
for i in range(3):
      print("Happy")
#첫 번째 0 생략 가능
#range(0, 숫자): 범위 설정이 중요한 경우
#range(숫자): 범위 설정이 중요하지 않은 경우(단순반복)

Happy
Happy
Happy

# 복습과 확장

In [67]:
for i in [1, 2, 3]:
      print(i, end = "_")
#end = "_": 뒤에 _붙임. 큰 따옴표, 작은 따옴표 상관 없음.

1_2_3_

In [69]:
for i in [1, 2, 3]:
      print(i, end = " ")
#end = " ": 뒤에 공백 붙임. 마찬가지 파이썬은 큰 따옴표, 작은 따옴표 상관 없음.

1 2 3

#리스트형 데이터는 []로 생성

In [70]:
#리스트: 여러 데이터의 형태가 혼재 가능함. 리스트는 순서가 중요함.
#[]: [](대괄호)와 ,(콤마)로 구성됨.

In [72]:
type([1, 2, 3])
#[1, 2, 3]의 데이터 형태를 질문

list

In [76]:
[1, "hello", 3.3]
#정수형, 문자열, 실수형 등 여러 형태의 데이터 혼재 가능함.

[1, 'hello', 3.3]

In [80]:
[1, 2, [3, 4,], ["AAA", "ZZZ"]]
#각 데이터 사이는 콤마로 구분 지어야 함
#리스트 안에 리스트 가능함

[1, 2, [3, 4], ['AAA', 'ZZZ']]

In [81]:
st = [1, "hello", 3.3]

In [82]:
print(st)

[1, 'hello', 3.3]

# 인덱싱 연산

In [83]:
#컴퓨터에서 인덱스는 0번부터 시작함.

In [84]:
st = [1, 2, 3, 4, 5]

In [86]:
n1 = st[0]
#리스트 st에서 0번째 인덱스를 n1이라는 변수에 저장

In [87]:
n2 = st[4]
#리스트 st에서 4번째 인덱스를 n2라는 변수에 저장

In [89]:
print(n1, n2)

1 5

In [92]:
st = [1, 2, 3, 4, 5]

In [95]:
print(st[0], st[2], st[4])
#리스트 st에서 0번째 인덱스, 2번째 인덱스, 4번째 인덱스를 출력함

1 3 5

In [96]:
st = [1, 2, 3, 4, 5]

In [97]:
st[0] = 5
#리스트 내용을 대입 연산자를 사용하여 변경할 수 있다.

In [98]:
st[4] = 1
#마찬가지 리스트 내용 변경 가능.

In [100]:
print(st)
#변경된 내용 출력

[5, 2, 3, 4, 1]

In [101]:
st1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
st2 = st1[2:5]
#리스트 st1에서 2번째부터 4번째 인덱스까지 st2라는 변수에 저장.
#중요!: 컴퓨터 슬라이싱 연산에서 마지막 숫자는 취급을 안 한다. 직전 숫자까지만 취급한다.
#[2:5]: 인덱스 2부터 4까지

In [103]:
print(st2)

[3, 4, 5]

# 문자열과 리스트

In [112]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [113]:
"Hello" + "Everybody"

'HelloEverybody'

In [115]:
[1, 2] * 3
#중요!: 리스트를 반복하는 것이다. [3, 6]아님!, 안의 숫자를 계산하는 것이 아니다.

[1, 2, 1, 2, 1, 2]

In [116]:
"AZ" * 3

'AZAZAZ'

In [117]:
st = [1, 2, 3, 4, 5]

In [118]:
print(st[2])
#리스트 st에서 2번째 인덱스의 값을 출력

3

In [119]:
str = "SIMPLE"

In [120]:
print(str[2])
#리스트 str에서 2번째 인덱스의 값을 출력

M

In [121]:
st = [1, 2, 3, 4, 5, 6, 7]

In [122]:
print(st[2:5])
#리스트 st에서 2번째 인덱스부터 4번째 인덱스까지의 값을 출력

[3, 4, 5]

In [123]:
str = "SIMPLEST"

In [124]:
print(str[2:5])
#리스트 str에서 2번째 인덱스부터 4번째 인덱스까지의 값을 출력

MPL

In [125]:
str = "Happy"

In [129]:
str[0] = "D"
#문자열 D를 문자열 str의 0번째 인덱스로 대입한다
#문자열과 리스트의 차이: 리스트의 내용은 인덱스 번호 대입으로 교체 가능하지만, 문자열은 불가능하다.

TypeError: 'str' object does not support item assignment

# 리스트와 for 루프, 문자열과 for 루프 그리고 len 함수

In [130]:
for i in [1, 2, 3]:
      print(i, end = " ")

1 2 3

In [134]:
for i in "Happy":
      print(i, end = " ")
#범위에 문자열도 가능함.

H a p p y

In [135]:
st = [1, 2, 3]

In [137]:
len(st)
#len(): 데이터 타입의 길이를 측정하는 함수, 즉 데이터가 몇 개 있는지 측정함.
#데이터 타입의 길이 - 1 = 마지막 인덱스 번호

3

In [139]:
sr = 'HaHaHa~'

In [140]:
len(sr)
#문자열 물결까지 포함하여 데이터 타입 측정함.

7

# 문자열과 함수

In [148]:
def so_simple4(s):
      print(s)
      return "Bye~"
#print(): 단순 출력 함수, 함수 알고리즘에 영향 전혀 안 줌, 일단 출력하고 보는 거임. 우선순위가 굉장히 높은 함수.
#해당 함수는 input에 무엇을 넣든지간에 결과값이 항상 일정한(똑같은) 함수다.

In [150]:
r = so_simple4("Hello")
#1. 함수의 input에 "Hello"를 집어넣음
#2. print("Hello")를 일단 실행시킴
#3. 함수의 input에 뭐가 들어갔든지 간에 결과값은 "Bye~"로 동일
#4. 결과값인 "Bye~"를 r이라는 변수에 대입함.

Hello

In [153]:
print(r)
#중요!: 함수에서 결과값을 변수에 대입했을 경우, 따로 출력명령을 하지 않으면 출력되지 않는다.
#일반적으로 결과값은 출력이 되지 않고 메모리에 단순 저장 되는 구조임. 하지만 파이썬은 친절하게 출력을 해준다.

Bye~

In [161]:
so_simple4("Hello")
#1. 함수의 input에 "Hello"를 집어넣음
#2. print("Hello")를 일단 실행시킴
#3. 함수의 결과값인 "Bye~"가 계산되고 함수 실행 종료. 파이썬은 여기서 결과값도 출력해 줌.

Hello

'Bye~'

# True 또는 False를 반환하는 연산자

In [165]:
#A > Z: A가 Z보다 크면 True, 크지 않으면 False 반환
#A < Z: A가 Z보다 작으면 True, 작지 않으면 False 반환
#A >= Z: A가 Z보다 크거나 같으면 True, 그렇지 않으면 False 반환
#A <= Z: A가 Z보다 작거나 같으면 True, 그렇지 않으면 False 반환
#A == Z: A와 Z가 같으면 True, 그렇지 않으면 False 반환
#A != Z: A와 Z가 같지 않으면 True, 그렇지 않으면(같으면) False 반환
#!: not을 의미함.
#조건문 연산자도 복합 대입 연산자와 마찬가지로 =가 뒤에 온다.

# 조건문: if, elif, else

In [169]:
x = 3

if x < 0:
      print("음수군요.")
elif x == 0:
      print("0과 같군요.")
elif x > 5:
      print("양수이지만 5보다는 작군요.")
else:
      print("양수이지만 5와 같거나 크네요.")
#elif: else if: 그렇지 않다면

양수이지만 5와 같거나 크네요.

In [184]:
def main():
      num = int(input("2의 배수이면서 3의 배수 입력: "))
      if num % 2 == 0:
            if num % 3 == 0:
                  print("OK!")
            else:
                  print("NO!")
      else:
            print("NO!")
#if 문 안에 if 문이 있는 함수의 형태. 조건 안에 조건이 더 있는 형태.
#1-1): 2로 나눴을 때 나머지가 0인 경우: 2(다음 조건)로 넘어감.
#2-1): 3으로 나눴을 때 나머지가 0인 경우: "OK!"출력
#2-2): 3으로 나눴을 때 나머지가 0이 아닌 경우: "NO!"출력
#1-2): 2로 나눴을 때 나머지가 0이 아닌 경우: "NO!"출력
#2와 3의 공배수일 경우에만 "OK!"출력, 나머지의 경우 "NO!"출력

In [180]:
main()
#3은 3의 배수이지만, 2의 배수는 아니므로.

2의 배수이면서 3의 배수 입력: 3
NO!

In [183]:
main()
#6은 2의 배수이면서 3의 배수이기도 하므로.

2의 배수이면서 3의 배수 입력: 6
OK!